:root {
	--main-color: red;
	--text-color:black;
	--bg-color: #fff;
}
.img {
	width: 100%;
}
body {
	color: var(--text-color);
	width: 100%;
}
.container {
	max-width: 1068px;
	margin: auto;
	width: 100%;
}
.section {
	padding: 4rem 0 3rem;
}
/* header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
	z-index: 100;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}

.logo {
	font-size: 1.1rem;
	color: var(--text-color);
	font-weight: 500;
}
.cart-icon {
	font-size: 1.8rem;
	cursor: pointer;
}


.cart{
    overflow-y: scroll;
}
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    scroll-behavior: auto;
    padding: 20px;
    background-color: azure;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart.active {
    right: 0;
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price {
    font-weight: 500;
}
.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
     
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
    }
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: rgb(238, 232, 232);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
#close-cart{
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}
.close-cart:hover {
	background-color: #0e0404;
}
.section.title{
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.5rem;
}
.shop{
	margin-top: 2rem;
}
.body {
	height: auto;
	width: 100%;
}
/* shop content */
.shop-content{
	display: grid;
	grid-template-columns : repeat(auto-fit, minmax(340px,auto));
	gap: 1.5rem;
}
.product-box {
	position: relative;
	box-sizing: border-box;
	margin: 1rem;
}
.product-box:hover {
	padding: 10px;
	border: 1px solid var(--text-color);
	transition: 0.4rem;
}
.product-img {
	width: 100%;
	height: 50%;
	margin-bottom: 5rem;
}
.product-title {
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0.5rem;
}
.price {
	font-weight: 500;
}

.add-Cart {
	position: absolute;
	bottom: 0;
	right: 0;
	background: var(--text-color);
	color: var(--bg-color);
	padding: 10px;
	cursor: pointer;
}
.add-Cart:hover {
	background: hsl(249, 32%, 17%);
}

/* Breakpoints / Making Responsive */
@media (max-width:1080px){
    .nav{
        padding: 15px;
    }
    .section{
        padding: 3rem 0rem 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media (max-width:400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}
@media (max-width:360px){
    .shop{
        margin-top: 2rem !important;
    }
    .cart{
        width: 280px;
    }

}
